<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/ice-cream.png">
    <link rel="stylesheet" href="styles/style.css">
    <script src="js/ice-cream.js" defer></script>
    <title>Ice Cream Order Form</title>
</head>
<body>
    <main>
        <img src="images/Eo_circle_green_checkmark.svg.png" alt="green checkmark" width="10%">
        <h1>Thank you for your order!</h1>
        <h3>PERSONAL INFORMATION</h3>
        <p>Name: <%= order.name %></p>
        <p>Email: <%= order.email %></p>
        <h3>ORDER DETAILS</h3>
        <p>Flavor: <%= order.flavor %></p>
        <p>Cone Type: <%= order.cone %></p>
        <p>Toppings: <%= order.toppings %></p>
        <h3>ADDITIONAL COMMENTS</h3>
        <p><%= order.comments %></p>

        <button id="print-button">Print Order</button>
        <button id="place-another-button">Place Another Order</button>
    </main>
</body>
</html>