<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/ice-cream.png">
    <link rel="stylesheet" href="styles/confirm.css">
    <script src="js/ice-cream.js" defer></script>
    <title>Ice Cream Order Form</title>
</head>
<body>
    <main>
        <img src="images/Eo_circle_green_checkmark.png" alt="green checkmark">
        <h1>Thank You for Your Order!</h1>
        <p id="confirm-text">Your ice cream order has been confirmed.</p>
        <div id="order-details">
            <h4>PERSONAL INFORMATION</h4>
            <p>Name: </p><span><%= order.customer %></span>
            <br>
            <p>Email: </p><span><%= order.email %></span>
            <h4>ORDER DETAILS</h4>
            <p>Flavor: </p><span><%= order.flavor %></span>
            <br>
            <p>Cone Type: </p><span><%= order.cone %></span>
            <br>
            <p>Toppings: </p><span><%= order.toppings %></span>
            <h4>ADDITIONAL COMMENTS</h4>
            <p id="additional-comments"><%= order.comments %></p>
        </div>
        <div class="button-container">
            <a id="print-button" href="#">Print Order</a>
            <a id="place-another-button" href="/">Place Another Order</a>
        </div>
    </main>
</body>
</html>